.about-page-wrapper {
  display: grid;

  .about-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 0px 100px 0px;
    max-height: 1500px;
    min-height: 700px;

    .about-section-profile-picture {
      display: flex;
      background-image: url('../static/assets/images/BekahAboutMe.jpg');
      background-repeat: no-repeat;
      background-size: 500px;
      min-height: 500px;
      max-height: 1000px;
      min-width: 500px;
      max-width: 1000px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .about-section-profile-text {
      display: flex;
      font-size: 20px;
      line-height: 1.75;
      align-items: flex-start;
      padding-top: 200px;
    }
  }

  .about-section-art-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    background: rgba(253, 235, 227, 0.5);
    border-top: 3px solid black;

    
    .about-section-artwork-one {
      display: flex;
      width: 33%;
      justify-content: center;
      background-image: url('../static/assets/images/lily-work-in-progress.jpg');
      height: 300px;
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .about-section-artwork-two {
      display: flex;
      width: 33%;
      justify-content: center;
      background-image: url('../static/assets/images/Rebekah-Working.jpg');
      height: 300px;
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
     }

    .about-section-artwork-three {
      display: flex;
      width: 33%;
      justify-content: center;
      background-image: url('../static/assets/images/Rebekah-hand-painting.jpg');
      height: 300px;
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (max-width: 640px) {

  .about-page-wrapper {
    max-width: 640px;

  .about-section-wrapper {
    width: auto;
    padding: 20px 0px 20px 70px;
    flex-direction: column;    

    .about-section-profile-picture {
      background-image: url('../static/assets/images/BekahAboutMe.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 400px;
    }

    .about-section-profile-text {
      text-align: center;
      font-size: 20px;
      padding-top: 0px;
      padding-left: 35px;
    }
  }

  .about-section-art-display {
    width: 640px;
    padding: 10px 0px 10px 0px;
    
    .about-section-artwork-one {
      background-image: url('../static/assets/images/lily-work-in-progress.jpg');
      height: 200px;
      background-size: 175px;
    }

    .about-section-artwork-two {
      background-image: url('../static/assets/images/Rebekah-Working.jpg');
      height: 200px;
      background-size: 175px;
     }

    .about-section-artwork-three {
      background-image: url('../static/assets/images/Rebekah-hand-painting.jpg');
      height: 200px;
      background-size: 175px;
    }
  }
}
}