.logo-header-wrapper {
  display: grid;
  justify-content: center;
  height: 275px;
  align-items: center;

  .logo-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;

    .logo-header-img {
      margin-bottom: 10px;
    }
   }
}

@media (max-width: 640px) {
  .logo-header-wrapper {
    width: 640px;
    height: 200px;

    .logo-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 325px;
  
      .logo-header-img {
        margin-bottom: 10px;
      }
     }
  }
}