.logo-header-wrapper {
  display: grid;
  justify-content: center;
  height: 275px;
  align-items: center;

  .logo-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;

    .logo-header-img {
      margin-bottom: 10px;
    }
   }
}

@media (max-width: 360px) {
  .logo-header-wrapper {
    width: 360px;
    height: 120px;

    .logo-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 180px;
  
      .logo-header-img {
        margin-bottom: 5px;
      }
     }
  }
}