.nav-bar-header-wrapper {
  display: grid;
  grid-template-columns: 5% 92%;
  height: 105px;
  justify-content: center;
  background-image: url('../static/assets/images/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: flex-end;

  .nav-bar-wrapper {
    display: flex; 
    width: 90%;
    max-width: 1200px;
    height: 100%;

    .nav-bar-button-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      flex-grow: 1;
      grid-template-columns:  repeat(auto-fill, minmax(calc(15% / 0.9), calc(85% / 0.9)));      
    }
  }
}

@media (max-width: 360px) {
  .nav-bar-header-wrapper {
    width: 360px;
    grid-template-columns: 15% 80%;

    .nav-bar-button-wrapper {
      padding-right: 6px;

      .btn-special-nav-bar {
        width: 40px;
        height: 20px;
        font-size: 10px;
      }

      .btn {
        width: 40px;
        height: 20px;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}