.nav-bar-header-wrapper {
  display: grid;
  grid-template-columns: 8% 92%;
  height: 105px;
  justify-content: center;
  background-image: url('../static/assets/images/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: flex-end;

  .nav-bar-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    // margin-left: 50px;

    .nav-bar-button-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      flex-grow: 1;

      grid-template-columns:  repeat(auto-fill, minmax(calc(15% / 0.9), calc(85% / 0.9)));
    }
  }
}

 