.shop-page-wrapper {
  display: grid;

  .shop-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    border-bottom: 3px solid black;
    height: 150px;
    align-items: center;
    padding-bottom: 15px;
    background: rgba(253, 235, 227, 0.6);
    
    .shop-header-text{
      font-size: 25px;
      padding-bottom: 10px;
    }

    .header-shop-link {
      display: flex;

      .shop-link {
        text-decoration: none;
      }
    }
  }  
}

@media (max-width: 750px) {
  .shop-page-wrapper {
    width: 750px;

    .shop-header {
      font-size: 40px;

      .shop-header-text {
        font-size: 20px;
      }
    }

    @media (max-width: 750px) {
      .for-sale-rotating-images {
        width: 750px;
        min-height: 600px;
    
        .rotating-images-wrapper {
          max-width: 400px;
          max-height: 400px;
    
          img.rotating-images {
            max-width: 400px;
            max-height: 400px;
          }
        }
      }
    }
  }
}